@import '../../style/mixins';

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  background-color: $off-white; 
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.341);
  }

  @media (max-width: 768px) { 
    padding: 1.8rem;

  }

  @media (max-width: 480px) { 
    padding: 2.6rem;
    border-radius: 6px;
  }
}

.productImage {
  width: 80%;
  height: 60%;
  border-radius: 7px;
  margin-bottom: 4rem;

  @media (max-width: 768px) {
    width: 70%;
    height: 50%;
  }

  @media (max-width: 480px) {
    width: 90%;
    height: auto;
    margin-bottom: 2rem;
  }
}

.productName {
  font-size: 2.8rem;
  font-family: 'Licorice', cursive;
  color: $light-gray;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 2.4rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.productDetails {
  font-size: 1rem;
  color: $black;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.roastLabel {
  font-size: 1.1rem;
  color: #333;

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.roastLevel {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin: 0.5rem 0;
}

.activeDot {
  color: #B46538;
}

.inactiveDot {
  color: #ddd;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: $black;
  margin-top: 0.5rem;

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.addToCartButton {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  @media (max-width: 768px) {
    padding: 0.35rem 1rem;
    font-size: 0.85rem;
  }

  @media (max-width: 480px) {
    padding: 0.3rem 0.9rem;
    font-size: 1.8rem;
  }
}
